In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [6]:
df= pd.read_csv("bank-full.csv", delimiter = ';')

In [7]:
df.columns

Index(['age', 'job', 'marital', 'education', 'default', 'balance', 'housing',
       'loan', 'contact', 'day', 'month', 'duration', 'campaign', 'pdays',
       'previous', 'poutcome', 'y'],
      dtype='object')

In [8]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [9]:
df=df [['age', 'job', 'marital', 'education','balance', 'housing', 'contact', 'day', 'month', 'duration', 'campaign',\
       'pdays','previous', 'poutcome', 'y']]

In [12]:
df.describe(include='all')

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
count,45211.000000,45211,45211,45211,45211.000000,45211,45211,45211.000000,45211,45211.000000,45211.000000,45211.000000,45211.000000,45211,45211
unique,NaN,12,3,4,NaN,2,3,NaN,12,NaN,NaN,NaN,NaN,4,2
top,NaN,blue-collar,married,secondary,NaN,yes,cellular,NaN,may,NaN,NaN,NaN,NaN,unknown,no
freq,NaN,9732,27214,23202,NaN,25130,29285,NaN,13766,NaN,NaN,NaN,NaN,36959,39922
mean,40.936210,NaN,NaN,NaN,1362.272058,NaN,NaN,15.806419,NaN,258.163080,2.763841,40.197828,0.580323,NaN,NaN
std,10.618762,NaN,NaN,NaN,3044.765829,NaN,NaN,8.322476,NaN,257.527812,3.098021,100.128746,2.303441,NaN,NaN
min,18.000000,NaN,NaN,NaN,-8019.000000,NaN,NaN,1.000000,NaN,0.000000,1.000000,-1.000000,0.000000,NaN,NaN
25%,33.000000,NaN,NaN,NaN,72.000000,NaN,NaN,8.000000,NaN,103.000000,1.000000,-1.000000,0.000000,NaN,NaN
50%,39.000000,NaN,NaN,NaN,448.000000,NaN,NaN,16.000000,NaN,180.000000,2.000000,-1.000000,0.000000,NaN,NaN
75%,48.000000,NaN,NaN,NaN,1428.000000,NaN,NaN,21.000000,NaN,319.000000,3.000000,-1.000000,0.000000,NaN,NaN
max,95.000000,NaN,NaN,NaN,102127.000000,NaN,NaN,31.000000,NaN,4918.000000,63.000000,871.000000,275.000000,NaN,NaN

In [13]:
df.corr()

               age   balance       day  duration  campaign     pdays  previous
age       1.000000  0.097783 -0.009120 -0.004648  0.004760 -0.023758  0.001288
balance   0.097783  1.000000  0.004503  0.021560 -0.014578  0.003435  0.016674
day      -0.009120  0.004503  1.000000 -0.030206  0.162490 -0.093044 -0.051710
duration -0.004648  0.021560 -0.030206  1.000000 -0.084570 -0.001565  0.001203
campaign  0.004760 -0.014578  0.162490 -0.084570  1.000000 -0.088628 -0.032855
pdays    -0.023758  0.003435 -0.093044 -0.001565 -0.088628  1.000000  0.454820
previous  0.001288  0.016674 -0.051710  0.001203 -0.032855  0.454820  1.000000

In [14]:
df['y'].head()

0    no
1    no
2    no
3    no
4    no
Name: y, dtype: object

In [17]:
df['y'] =(df['y'] =='yes').astype(int)

In [21]:
df['y']

0        0
1        0
2        0
3        0
4        0
        ..
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int32

In [22]:
from sklearn.model_selection import train_test_split

In [23]:
df_full_train , df_test = train_test_split(df,test_size=0.2, random_state =42)
df_train,df_val = train_test_split(df_full_train, test_size =0.2,random_state=42)

In [24]:
df_train =df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [26]:
y_train =df_train.y.values
y_val =df_val.y.values
y_test =df_test.y.values

In [27]:
del df_train['y']
del df_val['y']
del df_test['y']

In [28]:
df_full_train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 36168 entries, 3344 to 15795
Data columns (total 15 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        36168 non-null  int64
 1   job        36168 non-null  object
 2   marital    36168 non-null  object
 3   education  36168 non-null  object
 4   balance    36168 non-null  int64
 5   housing    36168 non-null  object
 6   contact    36168 non-null  object
 7   day        36168 non-null  int64
 8   month      36168 non-null  object
 9   duration   36168 non-null  int64
 10  campaign   36168 non-null  int64
 11  pdays      36168 non-null  int64
 12  previous   36168 non-null  int64
 13  poutcome   36168 non-null  object
 14  y          36168 non-null  int32
dtypes: int32(1), int64(7), object(7)
memory usage: 4.3+ MB

In [29]:
df_full_train.head()

,age,job,marital,education,balance,housing,contact,day,month,duration,campaign,pdays,previous,poutcome,y
3344,41,blue-collar,married,primary,849,yes,unknown,15,may,72,1,-1,0,unknown,0
17965,49,technician,married,primary,1415,yes,cellular,30,jul,269,2,-1,0,unknown,0
18299,42,admin.,married,secondary,3842,no,cellular,31,jul,130,4,-1,0,unknown,0
10221,37,management,single,tertiary,-119,yes,unknown,11,jun,375,11,-1,0,unknown,0
32192,56,blue-collar,married,primary,3498,no,cellular,15,apr,264,2,-1,0,unknown,1

In [140]:
categorical =['job','marital','education','housing','contact','month','poutcome']

In [32]:
from sklearn.metrics import mutual_info_score 

for c in categorical:
    mutual= mutual_info_score(df_full_train[c], df_full_train.y)
    print(c, mutual.round(2))

job 0.01
marital 0.0
education 0.0
housing 0.01
contact 0.01
month 0.02
poutcome 0.03

In [141]:
from sklearn.feature_extraction import DictVectorizer

In [142]:
numerical =['age','balance','day','duration','campaign','pdays','previous']

In [143]:
train_dicts =df_train[categorical + numerical].to_dict(orient='records')

In [144]:
dv =DictVectorizer(sparse=False)

In [145]:
dv.fit(train_dicts)

DictVectorizer(sparse=False)

In [146]:
dv.get_feature_names_out()

array(['age', 'balance', 'campaign', 'contact=cellular',
       'contact=telephone', 'contact=unknown', 'day', 'duration',
       'education=primary', 'education=secondary', 'education=tertiary',
       'education=unknown', 'housing=no', 'housing=yes', 'job=admin.',
       'job=blue-collar', 'job=entrepreneur', 'job=housemaid',
       'job=management', 'job=retired', 'job=self-employed',
       'job=services', 'job=student', 'job=technician', 'job=unemployed',
       'job=unknown', 'marital=divorced', 'marital=married',
       'marital=single', 'month=apr', 'month=aug', 'month=dec',
       'month=feb', 'month=jan', 'month=jul', 'month=jun', 'month=mar',
       'month=may', 'month=nov', 'month=oct', 'month=sep', 'pdays',
       'poutcome=failure', 'poutcome=other', 'poutcome=success',
       'poutcome=unknown', 'previous'], dtype=object)

In [147]:
X_train =dv.fit_transform(train_dicts)

In [148]:
val_dicts =df_val[categorical + numerical].to_dict(orient='records')
X_val=dv.transform(val_dicts)

In [149]:
from sklearn.linear_model import LogisticRegression

In [150]:
model =LogisticRegression(solver='liblinear', C=1.0, max_iter=1000, random_state=42)
model.fit(X_train,y_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [151]:
y_pred = model.predict_proba(X_val)[:,1]

In [152]:
y_pred_thres =y_pred >=0.5

In [153]:
y_pred_thres= y_pred_thres.astype(int)
y_pred_thres

array([0, 0, 0, ..., 1, 0, 1])

In [154]:
y_val

array([0, 0, 1, ..., 0, 0, 0])

In [155]:
(y_val == y_pred_thres).mean()

0.9012994194083495

In [159]:
all_features =0.9012994194083495
age =0.9017141277301631
balance =0.901022947193807
marital =.9015758916228919
previous =0.9012994194083495

feature_elim =[age,balance,marital,previous]

for feature in feature_elim:
    print(all_features -feature)

-0.0004147083218136727
0.00027647221454241144
-0.00027647221454241144
0.0

In [162]:
C= [0.01, 0.1, 1, 10, 100]

for c in C:
    model =LogisticRegression(solver='liblinear', C=c, max_iter=1000, random_state=42)
    model.fit(X_train,y_train)
    y_pred = model.predict_proba(X_val)[:,1]
    y_pred_thres =y_pred >=0.5
    y_pred_thres= y_pred_thres.astype(int)
    accuracy =(y_val == y_pred_thres).mean()
    print(c, accuracy )

0.01 0.8989494055847387
0.1 0.9011611833010782
1 0.9012994194083495
10 0.901022947193807
100 0.9011611833010782